# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- List of libraries used by Data Scientists 
- Data Science Tools
- Arithmetic expressions in Python

**Some of the popular languages that Data Scientists use are:**

1. Python
2. R
3. SSQL (Structured Query Language)

**Some of the commonly used libraries used by Data Scientists include:**

1. Numpy
2. Pandas
3. Matplotlib
4. Seaborn
5. scikit-learn
6. TensorFlow
7. PyTorch
8. SciPy

|**Data Science Tools**|
|----------------------|
|Jupyter Notebooks|
|RStudio|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers

( 3 * 4) + 5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60

minutes = 200
Hours = minutes / 60
Hours

3.3333333333333335

## Author
Gerardo Mendoza NÃ¡jera